@using AnimaTV.Application.Model
@using System.ComponentModel.DataAnnotations
@using AnimaTV.Application.Controllers.Data
<h3>AuthLayout</h3>

@code {
    private string _password;
    private string _login;

    private UserController _controller;

    private async void Authorize()
    {
        User user = new()
        {
            NickName = _login,
            Password = _password
        };

        ValidationContext context = new(user);
        List<ValidationResult> results = new();

        if (Validator.TryValidateObject(user, context, results, true))
        {
            _controller = new();

            if (await _controller.Authorize(user))
            {
                //Вывод сообщения об успешной авторизации и открытие главного окна
            }
            //Вывод что регистрация прошла неверно
        }
        else
        {
            foreach (var message in results)
            {
                //Вывод ошибки валидации
            }
        }
    }
}
