@using AnimaTV.Application.Controllers
@using AnimaTV.Application.Domain.Builders
@using AnimaTV.Application.Model
@using AnimaTV.Application.Controllers.Data
@using System.ComponentModel.DataAnnotations

<h3>ProfileLayout</h3>

@code {

    
}
