@using AnimaTV.Application.Model
@using System.ComponentModel.DataAnnotations
@using AnimaTV.Application.Controllers.Data
@using AnimaTV.Application.Domain.Builders
<h3>RegistrLayout</h3>

@code {
    private string _nickName;
    private string _password;
    private string _confirmPassword;
    private string _phone;
    private string _email;

    private UserController _controller;

    private async void Registration()
    {
        if (string.IsNullOrWhiteSpace(_password) || string.IsNullOrWhiteSpace(_phone) || string.IsNullOrWhiteSpace(_email))
        {
            return;;
        }

        UserBuilder userBuilder = new();
        var user = userBuilder
            .WithNickName(_nickName)
            .WithPassword(_password)
            .WithPhone(_phone)
            .WithEmail(_email)
            .WithID()
            .Build();

        ValidationContext context = new(user);
        List<ValidationResult> results = new();

        if (Validator.TryValidateObject(user, context, results, true))
        {
            if (!(_password.Equals(_confirmPassword)))
            {
                return;
            }

            _controller = new();

            if (await _controller.Registration(user))
            {
                //Вывод сообщения об успешной регистрации и открытие главного окна
            }
            //Вывод что регистрация прошла неверно
            
        }
        else
        {
            foreach (var message in results)
            {
                //Вывод ошибки валидации
            }
        }
    }
}
